/*
HTML5 element support for older browsers - according to w3 schools 
*Older browsers will treat unknown elements like <span> which is not a block element.
*/
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

/*
Main CSS styling
Colore Scheme: 

#2F2FA2 - Dark Blue - body
#242582 - Darker blue - nav
#2C3531 - Metalic Grey
#D1E8E2 - light blue - nav links hover
rgb(211, 178, 68); Active link
*/
body {
    margin: 0;
    background-color: #2F2FA2;
    color: #ffffff;
    font: 1.2em arial, sans-serif;
}

.content {
    margin: 0;
    padding: 0;
    position: absolute;
}

.main {
    float: left;
}

.secondary {
    float: left;
}

#title {
    color: #fff;
    font: 3em arial, sans-serif;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    
}

h2 , h3 {
    text-align: center;
    color: #fff;
    font: 1.8em arial, sans-serif;
    padding: 5px;

}
p {
    color: #fff;
    font: 1.4em arial, sans-serif;
    padding: 10px;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

#main-header {
    margin: 0 0 10px 0;
    width: 100%;
    height: 300px;
    float: left;
    position: relative;
    
}

/*Navigation*/

.navigation {
    padding: 0;
    margin: 0;   
    float: left;
    list-style: none;
    position: fixed;
    background-color: #242582;
    width: 100%;    
}

.navigation li{
    margin: 10px 10px;
    float: left;    
    padding: 5px 5px 15px 5px;     
}

.navigation li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 5px 10px 0;
}

.navigation a:hover {
    color: #D1E8E2; 
}

/*---------------*/
.list-wrapper {
    text-align: center;
}
#interestsList {
    
   display: inline-block;
   margin: auto;
   
   
}

#interestsList li{
 
   
   
}

#interestsList li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 5px 10px 0;
}

#interestsList li a:visited{
    color: orange;
   
}

#interestsList li a:hover{
    color: #D1E8E2;
   
}

#interestsList li a:active{
    color: rgb(211, 178, 68);
   
}

#tvshowList {
    display: inline-block;
    margin: auto;
}

#tvshowList li{
    padding: 2px 5px;
}

#tvshowList li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

#tvshowList li a:visited{
    color: orange;
   
}

#tvshowList li a:hover{
    color: #D1E8E2;
   
}

#tvshowList li a:active{
    color: rgb(211, 178, 68);
   
}