header {
    /* background: linear-gradient(#8E0E00, #8E0E00); */
    background-color:#212121;
    padding: 15px;
    margin-bottom: 5px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.5);
}

body {
    /* background: linear-gradient(#8E0E00, #8E0E00); */
    background-color: #404040;
    /* color: #00ACE9;
    color: #D43F3F;
    color: #6A9A1F; */
    color: #F6F6E8;
    /* color: #404040;3b3bf7  */
}

h1 {
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #f67519;
    font-size: 3em;
}
/* 
#InputEmail:valid{
    border: 2px #3c763d solid;
}

InputUsername:valid{
    border: 2px #3c763d solid;
    
} */

/*
    Simple CSS rule to make my Text areas non-resizable
*/

textarea {
    resize: none;
}

/*
Registration Success:
#212121 blackish
#1f9e75 greenish
#f67519 orange
#ebf0f6 grey: 1
#eeeeee grey: 2
*/
.jumbotron {
    background-color: #1f9e75;
    color: #ebf0f6;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.gratz {
    font-size: 1.1em;
    font-weight: 700;
}

.lg li{
    background-color: #1f9e75;
    color: black;
}
.reg {
    color: white;
}

.my-4 {
    background-color: #eeeeee;
}

/*
And some Label formating
*/

label {
    font-size: 1.1em;
    font-weight: 700;
}

.moreSpacing {
    margin-top: 20px;
    padding-top: 20px;
}

footer {
    /* background-color:#222222; */
    margin-top: 25px;
    padding: 10px;
    box-shadow: -5px 6px 8px 0 rgba(0, 0, 0, 0.5);
}

.footerLink {
    display: block;
    text-align: center;
    text-decoration: none;
    color: orange;
    font-weight: 700;
    font-size: 1.5em;
}

.copyright {
    color: white;
    font-size: 1.3em;
    text-align: center;
}

.footerLink:hover {
    color: darkblue;
}

#map-container {
    margin-top: 25px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

#video-container{
    display: none;
}
/*Slider Checkbox CSS*/
#checkbox-container {
    display: none;
}

/* The switch - the box around the slider */

.checkbox {
    padding: 7px;
}

.faceIDlbl {
    float: left;
    padding: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: left;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #3b3bf7;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3b3bf7;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 770px) {
   #signInButton {
       float: left;
   }
}