/*
HTML5 element support for older browsers - according to w3 schools 
*Older browsers will treat unknown elements like <span> which is not a block element.
*/
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

/*
Main CSS styling
Color Scheme: 

#2F2FA2 - Dark Blue - body
#242582 - Darker blue - nav
#D1E8E2 - light blue - nav links hover
rgb(211, 178, 68); Active link
*/
body {
    margin: 0;
    background-color: #2f2fa2;
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    
}

#profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

#picComment {
 margin-top: 1.5em;
 text-align: center;

}

.content {
    margin: 0;
    padding: 0;
    position: absolute;
}

.main {
    float: left;
}

.secondary {
    float: left;
}


blockquote {
    font-weight: 500;
    text-align: center;
    
}

h2 , h3, h4 {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;

}
p {
    color: #fff;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
   padding: 0 45px;
    margin: 50px auto;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}



#main-header {
    background: url(../resources/images/earth.jpg);
    background-size: cover;
    margin: 0 0 10px 0;
    width: 100%;
    height: 550px;
    float: left;
    position: relative;
    overflow: hidden;
}

footer {
    text-align: center;
}

/*Navigation*/

.navigation {
    border: 1px solid black;
    padding: 0;
    margin: 0;   
    float: left;
    list-style: none;
    position: fixed;
    background-color: #0c0d52;
    width: 100%;    
}

.navigation li{
    margin: 10px 10px;
    float: right;    
    padding: 5px 5px 15px 5px;     
    
}

.navigation li a{
    
    color: orange;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 5px 10px 0;
}


.navigation li a:visited{
    color: rgb(240, 0, 20);
   
}

.navigation li a:hover {
    color: #D1E8E2; 
}

.navigation li a:active{
    color: rgb(211, 178, 68);
   
}


#title {
    color: #fff;
    font-size: 4.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-align: center;
    margin: 30px 10px 10px 10px;
    padding-top: 2.5em;
    
    
    
}

#title span {
    display: inline-block;
    padding: 0.2em 0.5em;
    border: white solid 10px;
}

#teamLink {
    color: white;
    font-weight: 700;
}

#teamLink:hover {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

h3 {
    margin-top: 15px;
}
/*---------------*/
.list-wrapper {
    text-align: center;
}
#interestsList {
    
   display: inline-block;
   margin: auto;
   
   
}

#interestsList li a{
    color: orange;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 5px 10px 0;
}

#interestsList li a:visited{
    color: rgb(240, 0, 20);
   
}

#interestsList li a:hover{
    color: #D1E8E2;
   
}

#interestsList li a:active{
    color: rgb(211, 178, 68);
   
}

#tvshowList {
    display: inline-block;
    margin: auto;
}

#tvshowList li{
    padding: 2px 5px;
}

#tvshowList li a{
    text-decoration: none;
    color: orange;
    padding: 5px;
    font-size: 1.5em;
}

#tvshowList li a:visited{
    
    color: rgb(240, 0, 20);
}

#tvshowList li a:hover{
    color: #D1E8E2;
   
}

#tvshowList li a:active{
    color: rgb(211, 178, 68);
   
}

/*TABLE(s)*/

table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: 700;
}

td, th {
    border: 2px solid #D1E8E2;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D1E8E2;
    color: #000;
}

#videoClip {
    text-align: center;
    
}


#audioClip {
    position: absolute;
    width     : 100%;  
    height    : 100%; 
    text-align: center;
    
}

audio {
    position: relative;
    left: 38%;
   
}


@media (max-width: 1024px) {
    p {
        font-size: 1.8em;
    }

    h2, h3, h4 ,.navigation li a{
        font-size: 1.7em;
    }
    audio {
        position: relative;
        left: 35%;
       
    }
}
    
    
@media (max-width: 480px) {
    #title {
        font-size: 3.5em;
    }
    audio {
        position: relative;
        left: 20%;
       
    }
    p {
        font-size: 1.4em;
    }
}
 
    
        
@media (max-width: 320px) {
    .navigation {
        padding-right: 10px;
    }

    #tvshowList li a{
        font-size: 1.6em;
    }
    #interestsList li a{
        font-size: 1.6em;
    }

    p {
        font-size: 1.2em;
    }
    audio {
        position: relative;
        left: 20%;
       
    } 
      
}