/*
HTML5 element support for older browsers - according to w3 schools 
*Older browsers will treat unknown elements like <span> which is not a block element.
*/
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

/*
Main CSS styling
Colore Scheme: 

#2F2FA2 - Dark Blue - body
#242582 - Darker blue - nav
#2C3531 - Metalic Grey
#D1E8E2 - light blue - nav links hover
rgb(211, 178, 68); Active link
*/
body {
    margin: 0;
    background-color: #2f2fa2;
    color: #ffffff;
    font: 1.2em arial, sans-serif;
}

#profilePic {
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 350px;
    height: 350px;
    border-radius: 175px;
}

#picComment {
 margin-top: 1.5em;
 text-align: center;

}

.content {
    margin: 0;
    padding: 0;
    position: absolute;
}

.main {
    float: left;
}

.secondary {
    float: left;
}


blockquote {
    font-weight: 500;
    text-align: center;
    
}

h2 , h3, h4 {
    text-align: center;
    color: #fff;
    font-family: arial, sans-serif;
    padding: 5px;

}
p {
    color: #fff;
    font: 1.4em arial, sans-serif;
   padding: 0 45px;
    margin: 50px auto;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}



#main-header {
    background: url(../resources/images/earth.jpg);
    background-size: cover;
    margin: 0 0 10px 0;
    width: 100%;
    height: 550px;
    float: left;
    position: relative;
    
}

/*Navigation*/
nav {
    
}
.navigation {
    border: 1px solid black;
    padding: 0;
    margin: 0;   
    float: left;
    list-style: none;
    position: fixed;
    background-color: #0c0d52;
    width: 100%;    
}

.navigation li{
    margin: 10px 10px;
    float: right;    
    padding: 5px 5px 15px 5px;     
    
}

.navigation li a{
    
    color: orange;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 5px 10px 0;
}


.navigation li a:visited{
    color: rgb(240, 0, 20);
   
}

.navigation li a:hover {
    color: #D1E8E2; 
}

.navigation li a:active{
    color: rgb(211, 178, 68);
   
}


#title {
    color: #fff;
    font: 72px arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-align: center;
    margin: 30px 10px 10px 10px;
    padding-top: 180px;
    
    
}

#title span {
    display: inline-block;
    padding: 0.2em 0.5em;
    border: white solid 10px;
}


/*---------------*/
.list-wrapper {
    text-align: center;
}
#interestsList {
    
   display: inline-block;
   margin: auto;
   
   
}

#interestsList li{
 
   
   
}

#interestsList li a{
    color: orange;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 5px 10px 0;
}

#interestsList li a:visited{
    color: rgb(240, 0, 20);
   
}

#interestsList li a:hover{
    color: #D1E8E2;
   
}

#interestsList li a:active{
    color: rgb(211, 178, 68);
   
}

#tvshowList {
    display: inline-block;
    margin: auto;
}

#tvshowList li{
    padding: 2px 5px;
}

#tvshowList li a{
    text-decoration: none;
    color: orange;
    padding: 5px;
}

#tvshowList li a:visited{
    
    color: rgb(240, 0, 20);
}

#tvshowList li a:hover{
    color: #D1E8E2;
   
}

#tvshowList li a:active{
    color: rgb(211, 178, 68);
   
}

/*TABLE(s)*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: 700;
}

td, th {
    border: 2px solid #D1E8E2;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D1E8E2;
    color: #000;
}